
 #cart-and-summary-container  {
display: flex;
flex-direction: column;
justify-content: center;
gap: 3rem;
 }
 .card-cart{
  position: relative;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  box-shadow: 2px 2px 5px 1px rgb(214, 214, 214);
  border-color: rgb(150, 150, 150);
  border-radius: 1rem;
  padding: clamp(12px, 2vw, 24px);
}
 .cart-image {
width: clamp(100px, 10vw, 150px);
height: auto;
object-fit: contain;
}
.empty-cart-img {
width: clamp(200px, 35vw, 500px);
height: auto;
object-fit: contain;
}

 @media (min-width: 768px) {
 #cart-and-summary-container{
   flex-direction: row;
   gap: 5rem;
 }
 }

