

.details-ordersummary-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.details-sections {
  display: flex;
  flex-direction: column;
}
#payment-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
img {
  width: clamp(40px, 5vw, 60px);
  height: auto;
}

@media (min-width: 768px) {
.details-ordersummary-content {
  flex-direction: row;
}

.payment-options-container {
  flex-direction: row;
  flex-basis: 100%;
}
.ordersummary-text-container {
  margin-block:1.8rem;
}

.details-ordersummary-content {
  gap: 6rem;
}
.inputfield-details {
  width:25rem;
}
}