.rainy-days-logo {
  width: 140px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1rem;
}
.searchbar-desktop:focus {
  outline: 3px solid var(--inputfield-focus-color);
  outline-offset: 2px;
}

.header i {
  font-size: 1.2rem;
  color: var(--main-text-color);
}



.searchbar:focus {
  border-color: var(--nav-active-color);
}

.nav-container {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {

  .rainy-days-logo {
    order: 1;
  }

  .user-box {
    order: 2;
    position: absolute;
    right: 10rem;
  }
  .shoppingbag-box {
    order: 3;
    position: absolute;
    right: 3rem;
  }
.header i {
  font-size: 1.5rem;
  color: var(--main-text-color);
}
}



