
.hero-image {
  width: 100%;
  height: auto;
  display: block;
}
.image-overlay {
  position:absolute;
  top: 0;
  left:0;
  width:70%;
  height:100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 80%);
  z-index:1;
}
.hero-image-container {
  position: relative;
  width:100%;
  overflow:hidden;
}
.hero-section {
  position: relative;
  display: flex;
}
.hero-text {
  position: absolute;
  z-index:2;
  top:20%;
  bottom:20%;
  left:5%;
  color:white;
}
.hero-text span {
  display:block;
}
.heading-and-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 100rem;
  margin: 0 auto;
}


.our-products-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2rem;
}
.our-products-text,
.our-products-title {
  line-height: 2;
  font-weight: 400;
  margin:2rem;
}

.text-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

@media (min-width: 768px) {
.grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

  .hero-text {
    font-size: 3rem;
  }
  .our-products-text {
    max-width: 70ch;
  }
  .text-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 1.2rem;
  }

}
@media (min-width: 1025px) {

.hero-text {
  font-size: 5rem;
}
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

}


